{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true,
  "embeddedLanguageFormatting": "auto",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": [
        "*.vue"
      ],
      "options": {
        "parser": "vue"
      }
    },
    {
      "files": [
        "*.scss",
        "*.css"
      ],
      "options": {
        "parser": "scss"
      }
    },
    {
      "files": [
        "*.ts",
        "*.tsx",
        "*.js",
        "*.jsx"
      ],
      "options": {
        "parser": "babel-ts"
      }
    }
  ]
}
