@layer theme, base, mui, components, utilities;
@import 'tailwindcss';

html, body, #root {
  @apply overflow-hidden h-screen w-screen;
}

@layer utilities {
  .transition-width {
    transition-property: width;
  }
  
  .bg-primary {
    background-color: #F6C343;
    color: #000;
  }
  
  .default {
    @apply text-gray-400 border-gray-400;
  }
  
  .secondary {
    @apply text-white bg-[#333];
  }
  
}